input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid rgb(149, 147, 147);
  display: inline-block;
  padding: 6px 25px;
  cursor: pointer;
}
input:disabled {
  background-color: grey;
}
